<!DOCTYPE html>
<html>
  <head>
    <title>Overleaf, Editor LaTeX Online</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, user-scalable=no">
  </head>

  <body>
      <div class="cabecalho">
        <img src="Logo.png" alt="Logo" class="logo"></img>

        <div class="menu">
          <p>Features & Benefits<span class="seta">&#9660;</span></p>
          <p>Templates</p>
          <p>Plans & Pricing</p>
          <p>Help<span class="seta">&#9660;</span></p>

            {{#if login}}
              <button type="button" class="botao_register" onclick="location.href='/register'">Register</button>
              <button type="button" class="botao_log_in" onclick="location.href='/login'">Log In</button>
            {{/if}}

            {{#if btnPost}}
              <button type="button" class="botao_register" onclick="location.href='/post'">Post</button>
              <button type="button" class="botao_log_in" onclick="location.href='/sair'">Sair</button>
            {{/if}}
            

          <div class="simbolo_menu">&#9776;</div>
          
        </div>
      </div>

      <div class="principal">
        <div class="conteudo">
          <h1>LaTeX, <span class="evolved">Evolved</span></h1>
          <h6>The easy to use, online, collaborative LaTeX editor</h6>
          <img src="Fundo.png" alt="Ilustra&ccedil;&atilde;o" class="fundo"></img>
        </div>

        {{#if login}}
          <div class="rodape">
            <div class="conteudo">
              <div class="texto_rodape">Get started now</div>

              <div class="login">
                <div class="caixa">
                  <input type="text" class="caixa" value="email@example.com"></input>
                  <input type="text" class="caixa" value="********"></input>
                </div>
                <button type="button" class="register">Register</button>
              </div>

              <div class="checkbox">
                <input type="checkbox"></input>
                <label>I&rsquo;d like emails about product offers and company news and events.</label>
              </div>

              <div class="or">
                <div class="linhaD"></div>
                <span class="or">or</span>
                <div class="linhaE"></div>
              </div>

              <div class="opcoes_login">
                <div class="opcoes">
                  <img src="Google.png" alt="Logo do Google" class="opcoes"></img>
                  <div class="texto_login">Register using Google</div>
                </div>

                <div class="opcoes">
                  <img src="Orcid.png" alt="Logo do Orcid" class="opcoes"></img>
                  <div class="texto_login">Register using ORCID</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/if}}

      {{#if search}}
        <div class="search">
          <form action="/search" method="POST" accept-charset="utf-8">
            Search:<br>
            <textarea rows="3" cols="50" maxlength="200" required="required" name="search"></textarea>
            <br>
            <input type="submit" value="Submit">
          </form> 
        </div>
      {{/if}}
      {{#if post}}
        <div class="secundario">
          <div class="centralizar">
            <div class="post_image">
              {{#each img}}
                <img class="img_circle" src="{{img}}"></img>
              {{/each}}
            </div>

            <div class="centralizar">
              {{#each post}}
                <div class="text">{{email}}: {{text}}</div>
              {{/each}}
            </div>
          </div>
        </div>
      {{/if}}
  </body>
</html>
